table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
  font-size: 12px;
}

.wrapper{
  width: 90%;
    margin: 0 auto;
}
.searchTerm{padding: 0 0 10px 0;}
.searchTerm input{ height: 25px; width: 250px;}